<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BVPS.App.Properties.Settings.LISDatabaseConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|LISDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="LISDatabaseConnectionString" value="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|LISDatabase.mdf;Integrated Security=True"/>
    <add key="HIS" value="http://192.168.100.42:1773"/>
    <add key="Title" value="Phần mềm quản lý xét nghiệm-Trường trung cấp y tế Bắc Kạn- Tổ 9, phường Nguyễn Thị Minh Khai, thị xã Bắc Kạn, tỉnh Bắc Kạn"></add>
    <add key="AutoChemistryAnalyzer" value="COM5"/>
    <add key="URISCAN" value="Z3C90057BP4"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
